* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  background-color: #568203;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: left;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
  padding: 10px;
  font-size: large;
}

.main-page {
  padding: 50px;
  display: flex;
}

.filter-city, .filter-lang, .filter-reason {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.reset-btn {
  margin-top: 20px;
  padding: 7px;
  border-radius: 10px 30px;
  background-color: #568203;
  border: none;
  color: #fff;
  font-size: medium;
}

.input-checkbox {
  margin-right: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  width: 250px;
  box-shadow: 0 0 5px #000000;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 25px 25px 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header img {
  width: 100%;
}

.main-btn {
  text-decoration: none;
  color: #fff;
  background-color: #568203;
  padding: 7px;
  border-radius: 10px 30px;
  border: 1px, solid, #568203;
  margin-top: 20px;
}

.main-btn:hover, .reset-btn:hover {
  opacity: 0.9;
}